name: Base image

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/base.yml
      - images/base/**
  workflow_dispatch:

jobs:
  build:
    name: Build Base image
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      image-name: base
      image-tag: "42"
      containerfile-path: images/base
      context-path: images/base
  java:
    needs: build
    uses: ./.github/workflows/java.yml
  # fedora-packager:
  #   needs: build
  #   uses: ./.github/workflows/fedora-packager.yml
